.additional-data-container {
  /* overflow: hidden; */
  /* animation: expand 1s ease-in-out; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 0;
}

.additional-data-container[data-showdata="true"] {
  height: 300px;
}

@keyframes expand {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100);
  }
}
